<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">
            <span>Vendor Portal Sign in</span>
        </mat-toolbar>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="loginForm"
            (ngSubmit)="authenticate()">
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>

            <button mat-raised-button type="submit" class="mt-5" color="accent">Login</button>
        </form>
    </mat-card>
</div>